@import url(https://db.onlinewebfonts.com/c/a9db66cbaf8b1781ee08aeaae793c61b?family=NewRailAlphabet-White);
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;600;700&display=swap");
body {
  font-family: "NewRailAlphabet-White";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
span,
sub,
h4,
h5 {
  font-family: "NewRailAlphabet-White";
}
.cta-btn {
  background: linear-gradient(to right, #caa648, #e2c065, #bb9a3c);
  color: #322D2D;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}
.cta-btn:hover {
  transform: scale(1.05);
}
.section1 {
  display: flex;
  justify-content: center;
}
.section1 h1 {
  font-size: 36px;
  color: #322d2d;
  font-weight: lighter;
}
.start {
  background-color: #322d2d;
  margin: 0;
  align-content: center;
}
.start h3 {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}