@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;600;700&display=swap");
.footer {
  background-color: #322d2d;
  color: #fff;
  padding: 20px 60px;
  margin-top: 30px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}
.footer-left {
  width: 40%;
}
.footer-logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
  letter-spacing: 15px;
}
.footer-links {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-column a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
  font-family: "Oxanium", sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-column i {
  font-size: 15px;
}
.footer-column a:hover {
  color: #ffb545;
}
.footer-copyright {
  font-size: 16px;
  color: #dea453;
  font-family: "oxanium";
}
.footer-right {
  width: 50%;
  display: flex;
  justify-content: right;
}
.footer-column i {
  padding-right: 10px;
}
.footer-newsletter {
  max-width: 400px;
}
.newsletter-text {
  font-size: 16px;
  color: #ffb545;
  margin-bottom: 10px;
  margin-top: 0;
}
.newsletter-form {
  display: flex;
  gap: 10px;
}
.newsletter-form input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #777;
  background: transparent;
  color: #fff;
  border-radius: 4px;
  font-family: "oxanium";
}
.newsletter-form button {
  background-color: white;
  border: none;
  color: #ffb545;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}
.newsletter-form button:hover {
  background-color: #9e6718;
}
.newsletter-privacy {
  font-size: 12px;
  color: white;
  margin-top: 5px;
  font-family: "oxanium";
  margin-top: 15px;
}
.newsletter-privacy a {
  color: white;
  text-decoration: none;
}
.newsletter-privacy a:hover {
  text-decoration: underline;
}
.subscribebb {
  width: 100px;
  font-family: "oxanium";
}
@media (max-width: 768px) {
  .footer {
    padding: 30px;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .footer-left,
  .footer-right {
    width: 100%;
    text-align: center;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer-column {
    flex-direction: row;
    gap: 15px;
  }
  .footer-column a {
    font-size: 14px;
    white-space: nowrap;
  }
  .footer-right {
    justify-content: center;
    margin-top: 20px;
  }
  .newsletter-form {
    flex-direction: column;
    align-items: center;
  }
  .newsletter-form input,
  .newsletter-form button {
    width: 90%;
  }
}
