.guarantee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 5px;
  width: 100%;
  justify-self: center;
}
.guarantees{
  padding: 40px
}
.guarantee-item {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.guarantee-item img {
  height: 30px;
  width: 30px;
}
.guarantee-item i {
  font-size: 26px;
}
.guarantee-item div {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.guarantee-item h3,
.guarantee-item h4 {
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
}
.guarantee-item h4 {
  color: #322d2d;
  padding-bottom: 2px;
}
.guarantee-item sub {
  margin-top: -3px;
  font-size: 16px;
  color: #666666;
}
.guarantee-title {
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
  background: linear-gradient(to right, #caa648, #e2c065, #bb9a3c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .guarantee {
    padding: 15px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .guarantee-item {
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 90%;
    max-width: 100%;
    padding: 12px;
    margin-left: 30px;
  }
  .guarantee-item img {
    height: 35px;
    width: 35px;
  }
  .guarantee-title {
    font-size: 18px;
  }
  .guarantee-item h4 {
    font-size: 16px;
  }
  .guarantee-item sub {
    font-size: 13px;
  }
}
