.guarantee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  flex-wrap: wrap;
  margin-top: 15px;
  border-radius: 15px;
  padding: 10px;
  width: 90%;
  justify-self: center;
}
.guarantee-item {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.guarantee-item img {
 height: 30px;
 width: 30px;
}
.guarantee-item i {
  font-size: 26px;
}
.guarantee-item div {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.guarantee-item h3,
.guarantee-item h4 {
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
}
.guarantee-item h4 {
  color: #322d2d;
  padding-bottom: 2px;
}
.guarantee-item sub {
  margin-top: -3px;
  font-size: 16px;
  color: #666666;
}
.guarantee-title {
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
  background: linear-gradient(to right, #caa648, #e2c065, #bb9a3c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
