.ingredients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 20px;
  }
  
  .ingredients-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .ingredients-image img {
    width: 100%;
    max-width: 500px; /* Ensures a reasonable max size */
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .ingredients-content {
    flex: 1;
    max-width: 50%;
    text-align: left;
  }
  
  .ingredients-content h3 {
    color: #e4c267;
    font-size: 23px;
    margin-bottom: 10px;
    background: linear-gradient(to right,#9E6718,#FFB545);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .ingredients-content h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #322D2D;
  }
  
  .ingredients-content p {
    font-size: 21px;
    margin-bottom: 20px;
    color: #322D2D;

  }
  

  
  /* Responsive Fixes */
  @media (max-width: 768px) {
    .ingredients-section {
      flex-direction: column;
      text-align: center;
      padding: 30px;
    }
  
    .ingredients-content {
      max-width: 100%;
    }
  
    .ingredients-image img {
      max-width: 80%;
    }
  }
  