.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 40px;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-sizing: border-box;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: #322d2d;
  letter-spacing: 10px;
}
.nav-links-container {
  flex: 2;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav-links li {
  display: inline;
}
.nav-links li a {
  text-decoration: none;
  color: #322d2d;
  font-size: 16px;
}
.searchbox {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: end;
  gap: 10px;
  width: 200px;
}
.search-wrapper {
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
}
.search-container {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 30px;
  width: 40px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.search-container input {
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
  padding: 8px;
  transition: all 0.3s ease-in-out;
  background: transparent;
  font-size: 16px;
}
.search-container i {
  cursor: pointer;
  font-size: 18px;
  color: #333;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.centered {
  flex: 2;
  justify-content: center;
}
.search-wrapper.centered .search-container {
  width: 100%;
  max-width: 600px;
  background: #ddd;
  justify-content: space-between;
}
.search-wrapper.centered .search-container input {
  width: 100%;
  opacity: 1;
  padding: 8px 15px;
}
.navbar.search-active .nav-links-container {
  display: none;
}
