.subscription-details {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  margin: auto;
  font-family: Arial, sans-serif;
}
.subscription-details p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 10px;
}
.option-boxes {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 10px;
}
.option-box {
  flex: 1;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  background: #fff;
  height: 150px;
  width: 150px;
}
.option-box h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}
.free-tag {
  font-size: 14px;
  color: #c07a30;
  font-weight: bold;
}
.option-box img {
  width: 100px;
  height: 100px;
  margin: 5px;
}
.plus-sign {
  font-size: 22px;
  font-weight: bold;
  color: #444;
}
.benefits-list {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 10px;
}
.benefit-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 15px;
}
.benefit-item i {
  margin-right: 8px;
}
.benefit-item strong {
  font-weight: bold;
}
