.review-main {
  padding: 40px;
  background-color: #f0efeb;
  text-align: center;
}
.reviews-container {
  margin: 0 auto;
}
.reviews-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: left;
}
.reviews-title {
  font-size: 28px;
  color: #333;
  margin: 0;
}
.reviews-subtitle {
  font-size: 16px;
  color: #666;
  margin: 0;
}
.navigation-buttons {
  display: flex;
  gap: 10px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
#prevss,
#nextss {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#nextss {
  background: black;
  color: white;
}
#prevss:hover,
#nextss:hover {
  transform: scale(1.1);
}
.reviews-slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
}
.reviews-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: opacity 0.3s ease-in-out;
}
.review-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 330px;
  transition: transform 0.3s ease;
  text-align: left;
}
.review-card:hover {
  transform: translateY(-5px);
}
.reviewer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.reviewer-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 20px;
}
.reviewer-info {
  display: flex;
  flex-direction: column;
}
.reviewer-name {
  font-size: 16px;
}
.reviewer-position {
  font-size: 14px;
  color: #777;
}
.radios-container {
  margin-top: 15px;
}
.radios-container input {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
  accent-color: #e2c065;
}
@media (max-width: 768px) {
  .reviews-header {
    flex-direction: column;
    text-align: center;
  }
  .reviews-content {
    flex-direction: column;
  }
  .review-card {
    width: 90%;
  }
}
.stars {
  color: #00b67a;
}
